<h1>Contestants for <%= @bachelorette.name %></h1>

<% @bachelorette.contestants.each do |contestant| %>
<p><%= link_to "#{contestant.name}", "/contestants/#{contestant.id}" %></p>
<p><%= contestant.age %></p>
<p><%= contestant.hometown %></p>
<% end %>
